!!!
%html
  %head
    %title RPS with Haml
  %body
    %h1 Welcome to Rock, Paper, Scissors with Haml
    %p
      To start playing clasical Rock, Paper, Scissors game choose a throw:
      = choose
    %p= answer.gsub(',', '<br>')
